{% include '/scripts.html'  %}
{% include '/header.html'  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abastecer Inventario</title>

    <main class="main text-center py-4">
</head>
<body>
<br><br>
{% with messages=get_flashed_messages()%}

{% if messages%}
<div class="alert alert-success" role="alert">
{% for message in messages %}
   {{ message }}
{% endfor %}
</div>
{% endif %}

{% endwith %}

    <h1 class="text-center text-warning">Abastecer Inventario de Ingredientes</h1>
    <form action="/abastecer_inventario" method="POST">
        <label for="ingrediente_id"><strong>Ingrediente:</strong></label>
        <select id="ingrediente_id" name="ingrediente_id" required>
            {% for ingrediente in ingredientes %}
            <option value="{{ ingrediente.id }}">{{ ingrediente.nombre }}</option>
            {% endfor %}
        </select>
        <br><br>
        <label for="inventario"><strong>Cantidad a Abastecer:</strong></label>
        <input type="number" id="inventario" name="inventario" min="1" required>
        <br><br>
        <button type="submit" class="btn btn-warning">Abastecer inventario</button>
    </form>
    <br><br>
    <h2 class="text-center text-warning">Inventario Actual</h2>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Calorías</th>
                <th>Cantidad en Inventario</th>
            </tr>
        </thead>
        <tbody>
            {% for ingrediente in ingredientes %}
            <tr>
                <td>{{ ingrediente.nombre }}</td>
                <td>{{ ingrediente.calorias }}</td>
                <td>{{ ingrediente.inventario }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</main>
</html>
