{% include '/scripts.html'  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
  <br>
  <span style="margin-left: 15rem;">Si no eres cliente de nosotros, puedes acceder a la lista de productos por medio de este link:<a class="btn btn-success" style="margin-left: 0.5rem;" href="{{ url_for('dashboard') }}" aria-current="page"><i class="nav-icon fas fa-home text-light"></i> Productos</a></span>
    <main class="container" style="margin-left: 32rem;">
    <br>
    <h1>Iniciar Sesión</h1>
    <br>
    <div class="row justify-content-center" style="width: 40rem;">
        <div class="col-12">
          <!-- Mostrar mensajes flash -->
          {% with messages=get_flashed_messages(with_categories=True) %}
            {% if messages %}
              {% for category, message in messages %}
                <!-- Usamos las clases de Bootstrap para las alertas -->
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
      </div>
    <form method="POST">
        <div class="mb-3">
        <input type="text"  id="usuario" name="usuario" placeholder="Usuario" required>
    </div>
    <div class="mb-3">
        <input type="password" id="password" name="password" placeholder="Contraseña" required>
    </div>
        <button type="submit" class="btn btn-info" style="margin-left: 65px;">Ingresar</button>
    </form>
</body>
<br>
</main>
</html>
