{% include '/scripts.html'  %}
{% include '/header.html'  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Ingredientes
    </title> 
</head>
<main class="main text-center py-4"> 
    <body>
    <h1 class="text-center text-warning">Ingredientes</h1>
          <div class="container mt-5 table table-dark" style="margin-left: 120px;">
             
              <div class="row mt-4">
                  {% for ingrediente in ingredientes %}
                  <div class="col-md-3">
                      <div class="card">
                          <div class="card-body">
                              <h5 class="card-title">{{ ingrediente.nombre }}</h5>
                              <p class="card-text">Calorias: {{ ingrediente.calorias }}</p>
                              <p class="card-text">Sabor: {{ ingrediente.sabor }}</strong></p>
                          </div>
                      </div>
                  </div>
                  {% endfor %}
              </div>
          </div>
      </body>
      </html>

</body>

</main>

</html>
 